.Nav.Link{
    /*font-variant: small-caps;*/
}

@font-face {
    font-family: 'Display_Bold_Italic';
    src: local('Display_Bold_Italic'),
    url('../../../fonts/AngleciaProDisplay-BoldItalic.otf') format('opentype')
}

@font-face {
    font-family: 'Display_Medium';
    src: local('Display_Medium'),
    url('../../../fonts/AngleciaProDisplay-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Text_Bold';
    src: local('Text_Bold'),
    url('../../../fonts/AngleciaProText-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'Text_Medium';
    src: local('Text_Medium'),
    url('../../../fonts/AngleciaProText-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Text_Regular';
    src: local('Text_Regular'),
    url('../../../fonts/AngleciaProText-Regular.otf') format('opentype')
}


body {
    font-family: 'Text_Medium',serif;
    font-size: 20px;
}

.list-group-item{
    padding:0;
}

/*FORM SIMULATION*/
.form-control-lg {
    font-size: 36px;
    font-family: 'Display_Bold_Italic', serif;
}
.form-control {
    color:rgb(255,65,99);
    border-radius: 0;
 }
input#formBasicText, input#formBasicEmail {
    border: 0;
    outline: 0;
    border-bottom: 3px solid black;
    padding:0;
    line-height: 1px;
    height: 60px;
}
input#formBasicText:focus, input#formBasicEmail:focus{
    border:0;
    outline:0;
    color:rgb(255,65,99);
    box-shadow:none;
    border-bottom: 3px solid rgb(255,65,99);
}

.text-muted {
    color: black !important;
}

input[type=checkbox] {
    margin-top: 10px;
    background: white;
}