.Nav.Link{
    /*font-variant: small-caps;*/
}

@font-face {
    font-family: 'Display_Bold_Italic';
    src: local('Display_Bold_Italic'),
    url('../../fonts/AngleciaProDisplay-BoldItalic.otf') format('opentype')
}

@font-face {
    font-family: 'Display_Medium';
    src: local('Display_Medium'),
    url('../../fonts/AngleciaProDisplay-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Text_Bold';
    src: local('Text_Bold'),
    url('../../fonts/AngleciaProText-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'Text_Medium';
    src: local('Text_Medium'),
    url('../../fonts/AngleciaProText-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Text_Regular';
    src: local('Text_Regular'),
    url('../../fonts/AngleciaProText-Regular.otf') format('opentype')
}


body {
    font-family: 'Text_Medium',serif;
    font-size: 20px;
}